section {
  width: 100%;
  height: auto;
  padding-top: 30px;
}
section .Si-box {
  width: 1500px;
  height: auto;
  margin: 0 auto;
}
section .Si-box .Si-nav {
  width: 200px;
  height: auto;
  float: left;
}
section .Si-box .Si-nav .Sin-topbar {
  width: 100%;
  height: 50px;
}
section .Si-box .Si-nav .Sin-topbar img {
  width: 100%;
  height: 50px;
}
section .Si-box .Si-nav .Sin-li {
  width: 190px;
  height: 300px;
  margin: 0 auto;
  background: -webkit-linear-gradient(#dfffcb, #eafcde);
  background: linear-gradient(#dfffcb, #eafcde);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dfffcb, endColorstr=#eafcde);
  border-left: 1px solid #4CD242;
  border-right: 1px solid #4CD242;
  margin-top: 5px;
}
section .Si-box .Si-nav .Sin-li ul {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
section .Si-box .Si-nav .Sin-li ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
section .Si-box .Si-nav .Sin-li ul li a {
  display: block;
  color: #4CD242;
}
section .Si-box .Si-nav .Sin-li ul li:hover {
  background: linear-gradient(#399d34, #4cd242, #399d34);
  background: -webkit-linear-gradient(#399d34, #4cd242, #399d34);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#399d34, endColorstr=#4cd242);
}
section .Si-box .Si-nav .Sin-li ul li:hover a {
  color: white;
}
section .Si-box .Si-nav .Sin-li ul .Sin-active {
  background: linear-gradient(#399d34, #4cd242, #399d34);
  background: -webkit-linear-gradient(#399d34, #4cd242, #399d34);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#399d34, endColorstr=#4cd242);
}
section .Si-box .Si-nav .Sin-li ul .Sin-active a {
  color: white;
}
section .Si-box .Si-nav .Sin-li ul li:not(:first-child) {
  margin-top: 10px;
}
section .Si-box .Si-container {
  width: 1258px;
  height: auto;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #4CD242;
}
section .Si-box .Si-container .Sic-content {
  width: 100%;
  height: auto;
}
section .Si-box .Si-container .Sic-content .Sic-item {
  width: 100%;
  height: auto;
  float: left;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search {
  width: 100%;
  height: 50px;
  border-bottom: 1px dashed #4cd242;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li {
  float: left;
  height: 50px;
  margin-left: 15px;
  font-size: 14px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li span {
  line-height: 47px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li span input {
  height: 25px;
  padding: 0 5px;
  border: none;
  border: 1px solid #dedede;
  outline: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li span select {
  width: 60px;
  height: 25px;
  border: none;
  border: 1px solid #dedede;
  outline: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li span .span-input {
  width: 50px;
  height: 25px;
  padding: 0 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li a {
  padding: 3px 8px;
  border: 1px solid #dedede;
  line-height: 50px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li a i {
  color: #555;
  display: inline;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li a i:hover {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search .Sic-search-educe {
  width: 250px;
  float: right;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search .Sic-search-educe input {
  width: 73px;
  height: 26px;
  color: #555;
  cursor: pointer;
  outline: none;
  background-color: #F7F7F7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  margin-top: 12px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search .Sic-search-educe span {
  padding-left: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search .Sic-search-educe a {
  padding: 0;
  border: none;
  color: blue;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li:last-child {
  float: right;
  padding-right: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li:last-child .last-a {
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sic-search ul li:last-child .last-a:hover {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title {
  width: 100%;
  height: 79px;
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title ul .normal {
  float: left;
  width: 10.9%;
  height: 80px;
  line-height: 79px;
  color: #555;
  text-align: center;
  border-right: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .jiage {
  float: left;
  width: 43.6%;
  height: 79px;
  border-right: 1px solid #DEDEDE;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .jiage .jiage-li {
  width: 100%;
  height: 39px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .jiage .jiage-li ul li {
  float: left;
  height: 39px;
  width: 24.8%;
  border-right: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .jiage .jiage-li ul li:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .jiage .jiage-li:first-child {
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .shuliang {
  float: left;
  width: 21.8%;
  height: 79px;
  border-right: 1px solid #DEDEDE;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .shuliang .shuliang-li {
  width: 100%;
  height: 39px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .shuliang .shuliang-li ul li {
  float: left;
  height: 39px;
  width: 49.8%;
  border-right: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .shuliang .shuliang-li ul li:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .shuliang .shuliang-li:first-child {
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-title .normal:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing {
  width: 100%;
  height: auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors {
  width: 100%;
  height: auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors ul {
  border-bottom: 1px dashed #4CD242;
  overflow: hidden;
  width: 100%;
  height: 40px;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors ul .sx-mc {
  float: left;
  width: 10.9%;
  height: 40px;
  border-right: 1px solid #DEDEDE;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors ul .sx-mc a {
  color: #555;
  display: block;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors ul .sx-mc:hover a {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-mc:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-jg {
  width: 43.6%;
  height: 40px;
  float: left;
  border-right: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-jg .jg-li {
  width: 24.8%;
  height: 40px;
  float: left;
  border-right: 1px solid #DEDEDE;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-jg .jg-li a {
  color: #555;
  display: block;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-jg .jg-li:hover a {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-jg .jg-li:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-sl {
  width: 21.8%;
  height: 40px;
  float: left;
  border-right: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-sl .sl-li {
  width: 49.8%;
  height: 40px;
  float: left;
  border-right: 1px solid #DEDEDE;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .Sici-shuxing .sx-fors .sx-sl .sl-li:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-title {
  width: 100%;
  height: 34px;
  padding-top: 6px;
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-title ul {
  text-align: center;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-title ul li {
  display: inline-block;
  font-size: 14px;
  color: #555;
  padding: 7px 18px;
  cursor: pointer;
  border-radius: 2px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-title ul li:hover {
  background: #4CD242;
  color: white;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-title ul .mt-active {
  background: #4CD242;
  color: white;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content {
  width: 100%;
  height: auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item {
  width: 100%;
  height: auto;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .mtp-nav {
  width: 80%;
  height: 40px;
  float: left;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .mtp-nav .mtp-span {
  font-size: 14px;
  color: #555;
  line-height: 40px;
  padding: 0 12px;
  border-right: 1.5px solid #ddd;
  cursor: pointer;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .mtp-nav a {
  font-size: 14px;
  color: #555;
  line-height: 40px;
  padding: 0 12px;
  border-right: 1.5px solid #ddd;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .mtp-nav a:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .mtp-nav .ci-active {
  color: #4CD242;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .export-data {
  width: 6%;
  height: 35px;
  padding-top: 5px;
  float: left;
  margin-right: 1%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province .export-data button {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  outline: none;
  background-color: #F7F7F7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul {
  width: 100%;
  height: 40px;
  position: relative;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity {
  width: 20%;
  height: 35px;
  float: left;
  padding-top: 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity .allCity-box {
  width: 40%;
  height: 28px;
  border: 1px solid #DEDEDE;
  float: left;
  margin-left: 4.5%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity .allCity-box span {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav {
  width: 99%;
  height: auto;
  background: #f0f0f0;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 0.5%;
  z-index: 999;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title {
  width: 100%;
  height: 30px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul .anConfirm {
  width: 60px;
  height: 30px;
  float: left;
  background: -webkit-linear-gradient(#399d34, #4cd242, #399d34);
  background: linear-gradient(#399d34, #4cd242, #399d34);
  line-height: 30px;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 10px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul .anAll {
  width: 85%;
  height: 30px;
  float: left;
  margin-left: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul .anAll ul {
  width: 80%;
  height: 20px;
  font-size: 14px;
  color: #555;
  float: left;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul .anAll ul li {
  float: left;
  margin-left: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-title ul .anAll .clooseA {
  width: 5%;
  height: 20px;
  float: left;
  margin-left: 2%;
  cursor: pointer;
  font-size: 14px;
  color: red;
  line-height: 25px;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-container .An-content {
  width: 19%;
  height: auto;
  float: left;
  padding: 0 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-container .An-content .An-item {
  width: 100%;
  height: 30px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-container .An-content .An-item span {
  line-height: 30px;
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-nav .An-container .An-content .An-item span input {
  vertical-align: middle;
  margin-top: -2px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-li {
  width: 60%;
  height: 40px;
  float: left;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-li ul {
  width: 80%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #555;
  float: left;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-li ul li {
  float: left;
  margin-left: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-province ul .allCity-li .clooseA2 {
  width: 5%;
  height: 40px;
  float: left;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: red;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-city {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DEDEDE;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-city .city-item {
  width: 100%;
  height: 40px;
  float: left;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-city .city-item a {
  font-size: 14px;
  color: #555;
  line-height: 40px;
  padding: 0 12px;
  border-right: 1.5px solid #ddd;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-city .city-item a:last-child {
  border-right: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-city .city-item .ci-active {
  color: #4CD242;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei {
  width: 99%;
  margin: 0 auto;
  border-collapse: collapse;
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #555;
  border: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei thead {
  width: 100%;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei thead td:first-child {
  width: 5%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei thead td:nth-child(2) {
  width: 10%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei thead td:nth-child(3) {
  width: 15%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei thead td:last-child {
  width: 70%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody {
  width: 100%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td {
  cursor: pointer;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:first-child {
  width: 5%;
  word-break: break-word;
  text-align: center;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:nth-child(2) {
  width: 10%;
  word-break: break-word;
  padding: 0 5px;
  box-sizing: border-box;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:nth-child(3) {
  width: 15%;
  word-break: break-word;
  padding: 0 5px;
  box-sizing: border-box;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:last-child {
  width: 70%;
  word-break: break-word;
  padding: 0 5px;
  box-sizing: border-box;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:last-child a {
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengnei tbody td:last-child a:hover {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai {
  width: 99%;
  margin: 0 auto;
  border-collapse: collapse;
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #555;
  border: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead {
  width: 100%;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead td:first-child {
  width: 5%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead td:nth-child(2) {
  width: 10%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead td:nth-child(3) {
  width: 10%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead td:nth-child(4) {
  width: 15%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai thead td:last-child {
  width: 60%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody {
  width: 100%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td {
  cursor: pointer;
  word-break: break-word;
  padding: 0 5px;
  box-sizing: border-box;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td a {
  color: #555;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td a:hover {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td:first-child {
  width: 5%;
  text-align: center;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td:nth-child(2) {
  width: 10%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td:nth-child(3) {
  width: 10%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td:nth-child(4) {
  width: 15%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item .mt-content .shengwai tbody td:last-child {
  width: 60%;
}
section .Si-box .Si-container .Sic-content .Sic-item .miaopu-content .mc-item:first-child {
  display: block;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title {
  width: 100%;
  height: 40px;
  border-bottom: 1px dashed #4CD242;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-one {
  float: left;
  margin-left: 20px;
  line-height: 41px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-one span {
  margin: 0 5px;
  cursor: pointer;
  padding: 4px 10px;
  box-sizing: border-box;
}
f section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-one span:hover {
  color: #1F9952;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-one .gx-title-oneSpan {
  border: 1px solid #1F9952;
  color: #1F9952;
  border-radius: 2px;
  box-sizing: border-box;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title i {
  line-height: 40px;
  color: #4CD242;
  padding-left: 20px;
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin-right: 15px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-educe {
  height: 41px;
  line-height: 41px;
  float: right;
  width: 250px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-educe input {
  width: 73px;
  height: 26px;
  color: #555;
  cursor: pointer;
  outline: none;
  background-color: #F7F7F7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-educe span {
  padding-left: 10px;
  font-size: 14px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-title .gx-title-educe span a {
  font-size: 14px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  cursor: pointer;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-left {
  width: 198px;
  height: 158px;
  float: left;
  border: 1px solid #DEDEDE;
  margin-left: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-left img {
  width: 100%;
  height: 160px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right:hover .gr-title a {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right:hover .gr-text p {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right {
  width: 1030px;
  height: 160px;
  float: left;
  margin-left: 18px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right .gr-title {
  width: 100%;
  height: 39px;
  border-bottom: 1px dashed #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right .gr-title a {
  font-size: 14px;
  color: #333;
  line-height: 39px;
  padding-left: 15px;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right .gr-text {
  width: 100%;
  height: 119px;
  border-bottom: 1px dashed #DEDEDE;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
section .Si-box .Si-container .Sic-content .Sic-item .gx-content .gxc-text .gxc-right .gr-text p {
  font-size: 14px;
  color: #555;
  line-height: 23.5px;
  text-indent: 24px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #DEDEDE;
  padding-top: 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar span {
  margin-left: 20px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar span select {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  color: #555;
  border: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .zaojia-topbar-derive {
  margin-left: 59%;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .zaojia-topbar-derive input {
  width: 74px;
  height: 30px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  outline: none;
  background-color: #F7F7F7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .zaojia-topbar-show {
  width: auto;
  margin-left: -15px !important;
  text-align: left;
  font-size: 14px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .zaojia-topbar-show a {
  font-size: 14px;
  color: blue;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .chakan-all {
  float: right;
  padding-right: 10px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .chakan-all a {
  font-size: 14px;
  color: #555;
  line-height: 30px;
  padding: 5px 15px;
  border: 1px solid #dedede;
}
section .Si-box .Si-container .Sic-content .Sic-item .zaojia-topbar .chakan-all a:hover {
  color: red;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box {
  width: 100%;
  height: auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem {
  width: 100%;
  height: auto;
  float: left;
  display: none;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zaojia-title {
  width: 100%;
  height: 45px;
  padding-top: 5px;
  border-bottom: 1px solid #DEDEDE;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zaojia-title ul {
  width: 98%;
  margin: 0 auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zaojia-title ul li {
  float: left;
  width: 16.1%;
  height: 40px;
  background: #4CD242;
  font-size: 14px;
  color: white;
  line-height: 40px;
  text-align: center;
  margin-left: 8px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zaojia-title ul li:first-child {
  margin-left: 0;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zj-container {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zj-container ul li {
  width: 98%;
  height: 40px;
  margin: 0 auto;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zj-container ul li .zj-item {
  width: 16.1%;
  height: 40px;
  border-bottom: 1px solid #DEDEDE;
  float: left;
  margin-left: 8px;
  font-size: 14px;
  line-height: 40px;
  color: #555;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem .zj-container ul li .zj-item:first-child {
  margin-left: 0;
}
section .Si-box .Si-container .Sic-content .Sic-item .zj-box .zj-bitem:first-child {
  display: block;
}
section .Si-box .Si-container .Sic-content .Sic-item:nth-child(1) {
  display: block;
}
section .Si-box .Si-container .jzmore {
  width: 100%;
  height: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
}
section .Si-box .Si-container .jzmore .jzm-box {
  width: 60%;
  height: 60px;
  margin: 0 auto;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-aisde {
  width: 28%;
  height: 40px;
  float: left;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-aisde ul li {
  width: 100%;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-aisde ul li:first-child {
  height: 21px;
  border-bottom: 1px solid #4CD242;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-center {
  width: 250px;
  height: 40px;
  float: left;
  border: 1px solid #4CD242;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-center span {
  display: block;
  line-height: 40px;
  text-align: center;
  color: #adadad;
  font-size: 24px;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
section .Si-box .Si-container .jzmore .jzm-box .jzm-center span:hover {
  color: #4CD242;
}
section .Si-box .Si-yaler {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  min-height: 1400px;
  display: none;
}
section .Si-box .Si-yaler .Siy-title {
  width: 100%;
  height: 30px;
}
section .Si-box .Si-yaler .Siy-title .Siy-cloose {
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
  border-radius: 0 0 0 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
section .Si-box .Si-yaler .Siy-title .Siy-cloose i {
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: white;
}
section .Si-box .Si-yaler .Siy-container {
  width: 800px;
  height: auto;
  margin: 15px auto 0;
}
section .Si-box .Si-yaler .Siy-container .Siyc-biaoti {
  width: 100%;
  height: 60px;
  background: #E3FED1;
  color: #333;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form {
  width: 100%;
  height: auto;
  background: white;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 30px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item {
  width: 100%;
  height: 40px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-left {
  width: 100px;
  height: 40px;
  float: left;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-left p {
  font-size: 14px;
  color: #555;
  line-height: 40px;
  text-align: right;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right {
  width: 440px;
  height: 40px;
  float: left;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span {
  line-height: 36px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span input {
  width: 97%;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span select {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  color: #555;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span textarea {
  width: 97%;
  outline: none;
  border: none;
  border: 1px solid #DEDEDE;
  padding-left: 10px;
  border-radius: 4px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span .fi-right-radio {
  width: 150px;
  font-size: 14px;
  color: #555;
  margin-right: 5px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right span .fi-right-radio input {
  vertical-align: middle;
  margin-top: -3px;
  width: 13px;
  margin-right: 2px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right .siImg2 {
  width: 190px;
  height: 118px;
  border: 1px solid #DEDEDE;
  float: left;
  padding-left: 20px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right .siImg2 img {
  width: 170px;
  height: 118px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right .siImg1 {
  width: 100px;
  height: 98px;
  margin-left: 10px;
  border: 1px solid #DEDEDE;
  float: left;
  padding-top: 20px;
  background: #FCFCFC;
  position: relative;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right .siImg1 img {
  width: 100%;
  height: 78px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-item .fi-right .siImg1 .input-img {
  width: 100px;
  height: 118px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .textarea {
  height: 150px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .textarea .right-textarea {
  height: 150px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .picture {
  height: 120px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .picture .right-img {
  height: 120px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .fi-tip {
  width: 460px;
  height: 30px;
  padding-left: 100px;
  line-height: 30px;
  font-size: 12px;
  color: red;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .fi-tip img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-buttom {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #40B239;
  margin-top: 50px;
  border-radius: 8px;
  -webkit-transition: 1s;
          transition: 1s;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-buttom:hover input {
  background: #4CD242;
  font-size: 22px;
}
section .Si-box .Si-yaler .Siy-container .Siyc-form .form-container .form-buttom input {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 8px;
  outline: none;
}
.t_div {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
.div {
  margin: auto;
  width: 500px;
  height: 250px;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -125px;
}
.div_1 {
  width: 50px;
  height: 50px;
  margin: auto;
}
.img {
  width: 50px;
  height: 50px;
  margin-top: 80px;
  position: relative;
}
.div_2 {
  width: 500px;
  height: 80px;
  margin: auto;
  line-height: 80px;
}
.div_2 p {
  width: 500px;
  height: 80px;
}
.fnt {
  width: 500px;
  height: 80px;
  font-size: 18px;
  color: red;
  position: absolute;
  margin-top: 80px;
  margin-left: -250px;
  font-weight: bold;
}
